<?xml version="1.0"?>
<!--
/**
 * Copyright © MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MageWorx\SeoMarkupGraphQl\Model\Resolver\Markup\RichSnippets\Product">
        <arguments>
            <argument name="markupState" xsi:type="object">MageWorx\SeoMarkup\Model\Product\MarkupState</argument>
        </arguments>
    </type>
</config>
